[*.cs]

# CS8603: Возможно, возврат ссылки, допускающей значение NULL.
dotnet_diagnostic.CS8603.severity = none

# CS8601: Возможно, назначение-ссылка, допускающее значение NULL.
dotnet_diagnostic.CS8601.severity = none
